{% extends "base.html" %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <p>
        {{ form.key.label }}<br>
        {{ form.key(class="form-control") }}<br>
        {% for error in form.key.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <br>
    <p>ВНИМАНИЕ! Для корректной работы сайта рекомендуется загружать файлы с названиями только из латниских символов и
        цифр</p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}